<header>
  <p class="text-white font-medium bg-gradient-to-r from-[#1e3a8a] to-[#14b8a6] p-2">
      Owners Management
  </p>
</header>

<mat-toolbar class="rounded mb-4" [style.width]="'16rem'">
  <figure>
    <img class="w-10 h-10 object-fill" src="assets/management.png" alt="Admin">
    <figcaption class="ml-2 flex items-center">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>{{ sidenav.opened ? 'list' : 'menu' }}</mat-icon>
      </button>
      <span class="ml-2">Welcome Admin!</span>
    </figcaption>
  </figure>
</mat-toolbar>

<mat-sidenav-container class="w-full flex flex-row mt-2 mb-10 mr-10">
 
  <mat-sidenav class="flex flex-col" mode="side" #sidenav [style.width]="'16rem'" >
   
    <div *ngIf="sidenav.opened" class="bg-[#0b588c] h-[640px] space-y-4 p-4 rounded-tr-lg rounded-br-lg">
      <a [routerLink]="['/home']" class=" text-gray-100 hover:bg-blue-400 rounded">
        <mat-icon class="mr-2 transform transition-transform duration-200 hover:scale-110">home</mat-icon>Dashboard</a>
      <hr class="border-t border-white p-2">
      
      <a [routerLink]="['/home']" class=" text-gray-100 hover:bg-blue-400 rounded">
        <mat-icon class="mr-2 transform transition-transform duration-200 hover:scale-110">account_circle</mat-icon>Profile</a>
      <hr class="border-t border-white p-2">

      <a [routerLink]="['/home']" class=" text-gray-100 hover:bg-blue-400 rounded">
        <mat-icon class="mr-2 ">settings</mat-icon>Settings</a>
      <hr class="border-t border-white p-2">
    </div>

    <div *ngIf="!sidenav.opened" class="bg-[#0b588c] h-[640px] space-y-4 p-4 rounded-tr-lg rounded-br-lg">
      <a [routerLink]="['/home']" class=" text-gray-100 hover:bg-blue-400 rounded">
        <mat-icon class="mr-2 transform transition-transform duration-200 hover:scale-110">home</mat-icon></a>
      <hr class="border-t border-white p-2">
      
      <a [routerLink]="['/home']" class=" text-gray-100 hover:bg-blue-400 rounded">
        <mat-icon class="mr-2 transform transition-transform duration-200 hover:scale-110">account_circle</mat-icon></a>
      <hr class="border-t border-white p-2">

      <a [routerLink]="['/home']" class=" text-gray-100 hover:bg-blue-400 rounded">
        <mat-icon class="mr-2 ">settings</mat-icon></a>
      <hr class="border-t border-white p-2">
    </div>
    
    <mat-toolbar class="flex justify-end p-4 rounded-br-lg rounded-tr-lg">
      <button mat-raised-button [routerLink]="['/login']" color="warn"> <mat-icon>exit_to_app</mat-icon>Log Out</button>
    </mat-toolbar>
  </mat-sidenav>
  
  <mat-sidenav-content class="flex-1 p-4">
    
    <app-dashboard ></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>

